@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&family=Inconsolata&family=Itim&family=Montserrat:wght@200;400&family=Oswald&display=swap&family=Poppins:wght@300;400;600;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --fjalloOne: "Fjalla One", sans-serif;
  --inconsolata: "Insolata", monospace;
  --itim: "Itim", cursive;
  --montserrat: "Monotserrat", sans-serif;
  --poppins: "Poppins", sans-serif;
}
h1 {
  font-family: var(--poppins);
  color: rgba(0, 0, 88, 0.841);

  /* font-family: var(--inconsolata);
  font-family: var(--itim);
  font-family: var(--montserrat); */
}
.h1 {
  color: rgb(241, 241, 241);
}
h1:hover,
h2:hover {
  color: rgb(255, 136, 0);
  transition-duration: 200ms;
}

h2 {
  font-family: var(--poppins);
  color: rgba(0, 0, 84, 0.923);
}
li {
  font-family: var(--poppins);
  color: rgba(0, 0, 84, 0.764);
}
p {
  font-family: var(--poppins);
  color: rgba(0, 0, 84, 0.825);
}
* {
  font-family: var(--poppins);
}
